<nz-card nzTitle="Phiếu chi" [nzExtra]="extraTemplate">
  <form nz-form [formGroup]="searchForm">
    <nz-space nzSize="large" nz-row>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>Chi từ ngày</nz-form-label>
        <nz-form-control nzErrorTip="Hãy chọn từ ngày!">
          <nz-date-picker
            nzPlaceHolder="Chọn từ ngày"
            formControlName="payFromDate"
            nzFormat="dd/MM/yyyy"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>Chi tới ngày</nz-form-label>
        <nz-form-control nzErrorTip="Hãy chọn đến ngày!">
          <nz-date-picker
            nzPlaceHolder="Chọn đến ngày"
            formControlName="payToDate"
            nzFormat="dd/MM/yyyy"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *nzSpaceItem>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="onSearchPayments()">
            <span nz-icon nzType="search"></span>
            Tìm kiếm
          </button>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
  </form>
  <nz-table
    #table
    nzBordered
    nzShowSizeChanger
    nzSize="small"
    [nzLoading]="isLoadingTable"
    [nzScroll]="tableScroll"
    [nzPageSize]="20"
    [nzData]="tableRows"
  >
    <thead>
      <tr>
        <th nzAlign="center" nzWidth="50px">STT</th>
        <th
          nzAlign="center"
          nzWidth="200px"
          [nzShowFilter]="columnConfigs['creatorName'].showFilter"
          [nzFilterMultiple]="columnConfigs['creatorName'].filterMultiple"
          [nzFilters]="columnConfigs['creatorName'].filterOptions"
          [nzFilterFn]="columnConfigs['creatorName'].filterFunction"
          [nzShowSort]="columnConfigs['creatorName'].showSort"
          [nzSortPriority]="columnConfigs['creatorName'].sortPriority"
          [nzSortOrder]="columnConfigs['creatorName'].sortOrder"
          [nzSortFn]="columnConfigs['creatorName'].sortFunction"
          [nzSortDirections]="columnConfigs['creatorName'].sortDirections"
        >
          Người tạo
        </th>
        <th
          nzAlign="center"
          nzWidth="200px"
          [nzShowFilter]="columnConfigs['createdAt'].showFilter"
          [nzFilterMultiple]="columnConfigs['createdAt'].filterMultiple"
          [nzFilters]="columnConfigs['createdAt'].filterOptions"
          [nzFilterFn]="columnConfigs['createdAt'].filterFunction"
          [nzShowSort]="columnConfigs['createdAt'].showSort"
          [nzSortPriority]="columnConfigs['createdAt'].sortPriority"
          [nzSortOrder]="columnConfigs['createdAt'].sortOrder"
          [nzSortFn]="columnConfigs['createdAt'].sortFunction"
          [nzSortDirections]="columnConfigs['createdAt'].sortDirections"
        >
          Ngày tạo
        </th>
        <th
          nzAlign="center"
          nzWidth="200px"
          [nzShowFilter]="columnConfigs['paymentAt'].showFilter"
          [nzFilterMultiple]="columnConfigs['paymentAt'].filterMultiple"
          [nzFilters]="columnConfigs['paymentAt'].filterOptions"
          [nzFilterFn]="columnConfigs['paymentAt'].filterFunction"
          [nzShowSort]="columnConfigs['paymentAt'].showSort"
          [nzSortPriority]="columnConfigs['paymentAt'].sortPriority"
          [nzSortOrder]="columnConfigs['paymentAt'].sortOrder"
          [nzSortFn]="columnConfigs['paymentAt'].sortFunction"
          [nzSortDirections]="columnConfigs['paymentAt'].sortDirections"
        >
          Ngày chi
        </th>
        <th
          nzAlign="center"
          nzWidth="150px"
          [nzShowFilter]="columnConfigs['totalAmount'].showFilter"
          [nzFilterMultiple]="columnConfigs['totalAmount'].filterMultiple"
          [nzFilters]="columnConfigs['totalAmount'].filterOptions"
          [nzFilterFn]="columnConfigs['totalAmount'].filterFunction"
          [nzShowSort]="columnConfigs['totalAmount'].showSort"
          [nzSortPriority]="columnConfigs['totalAmount'].sortPriority"
          [nzSortOrder]="columnConfigs['totalAmount'].sortOrder"
          [nzSortFn]="columnConfigs['totalAmount'].sortFunction"
          [nzSortDirections]="columnConfigs['totalAmount'].sortDirections"
        >
          Tổng tiền
        </th>
        <th
          nzAlign="center"
          nzWidth="150px"
          [nzShowFilter]="columnConfigs['status'].showFilter"
          [nzFilterMultiple]="columnConfigs['status'].filterMultiple"
          [nzFilters]="columnConfigs['status'].filterOptions"
          [nzFilterFn]="columnConfigs['status'].filterFunction"
          [nzShowSort]="columnConfigs['status'].showSort"
          [nzSortPriority]="columnConfigs['status'].sortPriority"
          [nzSortOrder]="columnConfigs['status'].sortOrder"
          [nzSortFn]="columnConfigs['status'].sortFunction"
          [nzSortDirections]="columnConfigs['status'].sortDirections"
        >
          Trạng thái
        </th>
        <th nzAlign="center" nzWidth="150px" nzRight>Thao tác</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of table.data; let i = index">
        <td nzAlign="center">
          {{ (table.nzPageIndex - 1) * table.nzPageSize + i + 1 }}
        </td>
        <td nzAlign="center">{{ data.creatorName }}</td>
        <td nzAlign="center">
          {{ data.createdAt.toDate() | date : "dd/MM/yyyy hh:mm" }}
        </td>
        <td nzAlign="center">
          {{ data.paymentAt.toDate() | date : "dd/MM/yyyy hh:mm" }}
        </td>
        <td nzAlign="center">{{ data.totalAmount }} (kVNĐ)</td>
        <td nzAlign="center">
          <ng-container *ngIf="data.status | payment_status as paymentTag">
            <nz-tag [nzColor]="paymentTag.color">{{ paymentTag.text }}</nz-tag>
          </ng-container>
        </td>
        <td nzAlign="center" nzRight>
          <nz-space>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              *nzSpaceItem
              (click)="wantViewPayment.emit(data)"
            >
              <span nz-icon nzType="eye" nzTheme="outline"></span>
            </button>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              nzDanger
              *nzSpaceItem
              [disabled]="!canDeletePayment(data)"
              nz-tooltip
              nzTooltipTitle="Không thể xóa phiếu đã quyết toán"
              [nzTooltipTrigger]="canDeletePayment(data) ? null : 'hover'"
              nz-popconfirm
              nzPopconfirmTitle="Xóa phiếu?"
              (nzOnConfirm)="wantDeletePayment.emit(data)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    nzSize="small"
    (click)="isVisibleModalFormChange.emit(true)"
  >
    <span nz-icon nzType="plus"></span>
  </button>
</ng-template>
<nz-modal
  [(nzVisible)]="isVisibleModalForm"
  nzPlacement="top"
  [nzWidth]="992"
  nzTitle="Tạo mới phiếu chi"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="isVisibleModalFormChange.emit(false)"
  nzMaskClosable="false"
  nzCentered
>
  <ng-template #modalContent>
    <form nz-form [formGroup]="modalForm">
      <nz-space nzSize="large">
        <nz-form-item *nzSpaceItem>
          <nz-form-label>Ngày chi</nz-form-label>
          <nz-form-control nzErrorTip="Hãy chọn ngày!">
            <nz-date-picker
              nzPlaceHolder="Chọn ngày"
              formControlName="date"
              nzFormat="dd/MM/yyyy"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *nzSpaceItem>
          <nz-form-label>Giờ chi</nz-form-label>
          <nz-form-control>
            <nz-time-picker
              nzFormat="HH:mm"
              [nzMinuteStep]="15"
              nzPlaceHolder="Chọn giờ"
              formControlName="time"
            ></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-space>
      <div nz-row nzGutter="xs" [nzGutter]="[16, 16]">
        <div nz-col [nzSpan]="16">
          <nz-card
            nzTitle="Bên A"
            [nzExtra]="aSide_extraTemplate"
            [nzBodyStyle]="{ height: '50vh', 'overflow-y': 'auto' }"
          >
            <ng-container formArrayName="aSide">
              <div *ngIf="aSideFA.value.length == 0 && aSideFA.touched">
                <div class="ant-form-item-explain-error">Hãy thêm bên A!</div>
              </div>
              <div
                *ngFor="let control of aSideFA.controls; let i = index"
                class="inline"
              >
                <ng-container [formGroupName]="i">
                  <nz-form-item>
                    <nz-form-label>{{ i + 1 }}</nz-form-label>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Hãy chọn thành viên!">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Thành viên"
                        formControlName="userId"
                      >
                        <nz-option
                          *ngFor="let u of users"
                          [nzValue]="u.id"
                          [nzLabel]="u.userName"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Từ 1k đến 99999k">
                      <nz-input-number-group nzAddOnAfter="kVNĐ">
                        <nz-input-number
                          [nzStep]="1"
                          formControlName="amount"
                        ></nz-input-number>
                      </nz-input-number-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Hãy điền lý do!">
                      <textarea
                        rows="3"
                        nz-input
                        placeholder="Lý do"
                        formControlName="description"
                      ></textarea>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      nzShape="circle"
                      nzSize="small"
                      nzDanger
                      (click)="removeFromASide(i)"
                    >
                      <span nz-icon nzType="minus" nzTheme="outline"></span>
                    </button>
                  </nz-form-item>
                </ng-container>
              </div>
            </ng-container>
          </nz-card>
          <ng-template #aSide_extraTemplate>
            <nz-space>
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                nzShape="circle"
                nzSize="small"
                (click)="autoLoadASide()"
              >
                <span nz-icon nzType="retweet"></span>
              </button>
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                nzShape="circle"
                nzSize="small"
                (click)="onAddToASide()"
              >
                <span nz-icon nzType="plus"></span>
              </button>
            </nz-space>
          </ng-template>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card
            nzTitle="Bên B"
            [nzExtra]="bSide_extraTemplate"
            [nzBodyStyle]="{ height: '50vh', 'overflow-y': 'auto' }"
          >
            <ng-container formArrayName="bSide">
              <div *ngIf="bSideFA.value.length == 0 && bSideFA.touched">
                <div class="ant-form-item-explain-error">Hãy thêm bên B!</div>
              </div>
              <div
                *ngFor="let control of bSideFA.controls; let i = index"
                class="inline"
              >
                <ng-container [formGroupName]="i">
                  <nz-form-item>
                    <nz-form-label>{{ i + 1 }}</nz-form-label>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Hãy chọn thành viên!">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Thành viên"
                        formControlName="userId"
                      >
                        <nz-option
                          *ngFor="let u of users"
                          [nzValue]="u.id"
                          [nzLabel]="u.userName"
                        ></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      nzShape="circle"
                      nzSize="small"
                      nzDanger
                      (click)="removeFromBSide(i)"
                    >
                      <span nz-icon nzType="minus" nzTheme="outline"></span>
                    </button>
                  </nz-form-item>
                </ng-container>
              </div>
            </ng-container>
          </nz-card>
          <ng-template #bSide_extraTemplate>
            <nz-space>
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                nzShape="circle"
                nzSize="small"
                (click)="autoLoadBSide()"
              >
                <span nz-icon nzType="retweet"></span>
              </button>
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                nzShape="circle"
                nzSize="small"
                (click)="onAddToBSide()"
              >
                <span nz-icon nzType="plus"></span>
              </button>
            </nz-space>
          </ng-template>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" nzDanger (click)="initModal()">
      Đặt lại
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="onCreatePayment()"
      [nzLoading]="isCreatingPayment"
    >
      Tạo phiếu
    </button>
  </ng-template>
</nz-modal>
