<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-card
      [nzLoading]="isLoading"
      [nzBordered]="false"
      [nzBodyStyle]="{ padding: '0px' }"
    >
      <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzSpan]="12">
          <app-payment
            [initPayFromDate]="initPayFromDate"
            [initPayToDate]="initPayToDate"
            [isLoadingTable]="isLoadingTablePayment"
            [tableScroll]="tablePaymentScroll"
            [tableRows]="tablePaymentRows"
            [columnConfigs]="tablePaymentColumnConfigs"
            (wantSearchPayment)="searchPayment($event)"
            [(isVisibleModalForm)]="isVisiblePaymentModalForm"
            [users]="users"
            (wantCreatePayment)="createPayment($event)"
            (wantDeletePayment)="deletePayment($event)"
            (wantViewPayment)="viewPayment($event)"
          ></app-payment>
        </div>
        <div nz-col [nzSpan]="12">
          <app-bill
            [initCreateFromDate]="initCreateFromDate"
            [initCreateToDate]="initCreateToDate"
            [isLoadingTable]="isLoadingTableBill"
            [tableScroll]="tableBillScroll"
            [tableRows]="tableBillRows"
            [columnConfigs]="tableBillColumnConfigs"
            (wantSearchBill)="searchBill($event)"
            [(isVisibleModalForm)]="isVisibleBillModalForm"
            (wantSearchPayment)="searchPaymentForSettle($event)"
            [isLoadingTablePayment]="isLoadingTablePaymentForSettle"
            [tablePaymentRows]="tablePaymentForSettleRows"
            (wantGenerateBill)="generateBill($event)"
          ></app-bill>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<nz-drawer
  [(nzVisible)]="isVisiblePdfViewer"
  nzPlacement="top"
  [nzTitle]="pdfViewerTitle"
  nzHeight="100vh"
  (nzOnClose)="isVisiblePdfViewer = false"
  [nzFooter]="pdfViewerFooter"
>
  <ng-container *nzDrawerContent>
    <div *ngIf="!!pdfDataObjUrl" style="width: 100%; height: 100%">
      <iframe
        [src]="pdfDataObjUrl | safe : 'resourceUrl'"
        style="width: 100%; height: 100%; margin: 0px; padding: 0px"
      ></iframe>
    </div>
  </ng-container>

  <ng-template #pdfViewerFooter></ng-template>
</nz-drawer>
