.inline {
  display: flex;
  justify-content: space-between;
}

.inline nz-select {
  min-width: 150px;
}

.inline textarea {
  min-width: 180px;
}

.inline > * {
  margin-left: 4px;
  margin-right: 4px;
}

.inline > :first-child {
  margin-left: 0px;
}

.inline > :last-child {
  margin-right: 0px;
}
